.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
rebar3.crashdump
ebin
.rebar
.applist
.DS_Store
.idea/
*.iml

_build/

apps/*/src/*_atoms.erl
apps/*/include/generated/*

apps/im/priv/certs
apps/im/priv/data
apps/im/priv/translations
apps/im/priv/media
apps/im/priv/static/data/map.json
apps/im/priv/static/in-app

tests/map.json
tests/config/config.json
tests/test/debug.js

sys.config
vm.args

libphonenumber/phonenumber_util_nif.so
