{deps, [
  {smoothie,        {git, "git://github.com/tapsters/smoothie.git",             {tag, "master"} }},
  {cocktail_mongo,  {git, "git://github.com/tapsters/cocktail-mongo.git",       {tag, "master"} }},
  {elibphonenumber, {git, "git://github.com/tapsters/elibphonenumber.git",      {tag, "master"} }},
  {yaws_json2,      {git, "git://github.com/tapsters/yaws-json2.git",           {tag, "master"} }},
  {lager,           {git, "git://github.com/erlang-lager/lager.git",            {tag, "3.8.0"}  }},
  {graylog_lager,   {git, "git://github.com/silviucpp/graylog_lager.git",       {tag, "v1.4.2"} }},
  {emagic,          {git, "git://github.com/JasonZhu/erlang_magic.git",         {tag, "master"} }},
  {erlcloud,        {git, "git://github.com/erlcloud/erlcloud.git",             {tag, "master"} }},
  {gen_smtp,        {git, "git://github.com/Vagabond/gen_smtp.git",             {tag, "master"} }},
  % {sync,            {git, "git://github.com/rustyio/sync.git",                  {tag, "master"} }},
  {erlastic_search, {git, "git://github.com/tsloughter/erlastic_search.git",    {tag, "master"} }},
  {hackney,         {git, "git://github.com/benoitc/hackney.git",               {tag, "1.15.2"} }},
  {entropy_string,  {git, "git://github.com/EntropyString/Erlang.git",          {tag, "1.0.0"}  }},
  {fcm,             {git, "git://github.com/softwarejoint/fcm-erlang.git",      {tag, "1.0.1"}  }},
  {dh_date,         {git, "git://github.com/daleharvey/dh_date.git",            {tag, "master"} }},
  {erlcron,         {git, "git://github.com/erlware/erlcron.git",               {tag, "master"} }},
  {erlydtl,         {git, "git://github.com/erlydtl/erlydtl.git",               {tag, "0.12.1"} }},
  {jiffy,           {git, "git://github.com/davisp/jiffy.git",                  {tag, "0.15.2"} }},
  {worker_pool,     {git, "git://github.com/inaka/worker_pool.git",             {tag, "3.2.0"}  }}
]}.

{relx, [
  {release, {messenger_backend, "1.0"}, [
    kernel, stdlib, sasl, compiler, syntax_tools, asn1, jiffy, yaws_json2, inets,
    crypto, public_key, ssl, ranch, cowboy, cowlib, emagic, goldrush, lager, smoothie,
    pbkdf2, erlcloud, hackney, im, gen_smtp
  ]},
  {include_erts, true},
  {extended_start_script, true},
  {generate_start_script, true},
  {overlay, [
    {mkdir, "log/sasl"},
    {copy, "{{root_dir}}/apps/im/priv", "{{output_dir}}/"}
  ]}
]}.

{profiles, [
  {dev, [
    {relx, [
      {dev_mode, true},
      {sys_config, "config/sys.config.dev"}
    ]}
  ]},

  {test, [
    {relx, [
      {dev_mode, true},
      {sys_config, "config/sys.config.test"}
    ]}
  ]},

  {build, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]},

  {build, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]}
]}.

{post_hooks, [
  {compile, "sed -i -e 's/\(stdlib\)/ssl/' _build/default/lib/ranch/ebin/ranch.app"}
]}.

{overrides,
  [
    {override, jiffy, [
      {plugins, [pc]},
      {artifacts, ["priv/jiffy.so"]},
      {provider_hooks, [
        {post,
          [
            {compile, {pc, compile}},
            {clean, {pc, clean}}
          ]
        }]
      }]
    },
    {override, emagic, [
      {plugins, [pc]},
      {artifacts, ["priv/emagic.so"]},
      {port_specs, [{"priv/emagic.so", ["c_src/*.c"]}]},
      {port_env, [
        {"darwin", "CFLAGS", "$CFLAGS -I/usr/local/opt/libmagic/include/"},
        {"darwin", "LDFLAGS", "$LDFLAGS -L/usr/local/opt/libmagic/lib -lmagic "},
        {"(linux|solaris|freebsd|netbsd|darwin|openbsd|dragonfly)", "LDFLAGS", "$LDFLAGS -lmagic "}
      ]},
      {provider_hooks, [
        {post,
          [
            {compile, {pc, compile}},
            {clean, {pc, clean}}
          ]
        }]
      }]
    }
  ]
}.
